<div class="container mx-auto xl:w-1/2 lg:w-1/2 w-full rounded-lg shadow-lg  grid  sm:grid-cols-1 mt-20 p-5 "> 
    <div class="mt-10">
        <img src="/img/logo.png" alt="" class="h-80 mx-auto">
    </div>
    <div class=" p-2 space-y-8 mt-10">
        <h2 class="font-sans font-bold text-3xl">© Aguimad Company</h2>
        <p class="font-sans">© Aguimad Company Se fundó el 2023 y vende variados productos</p>
    </div>
</div>