
<div
    class="container mx-auto mt-30 md:mt-30 w-full lg:w-4/6 grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-4 shadow-lg mt-20 rounded-lg">
    <div class="grid grid-cols-1 col-span-3">
        <h2 class="text-3xl text-center p-2 font-semibold  ">Carrito de compras</h2>
        <div class="carrito">

        </div>

    </div>
    <div class="bg-gray-400 rounded-r-lg flex flex-col comprar">


    </div>

</div>
<div class="mensaje mt-10">

</div>
<script src="/js/carrito.js"></script>