
  <header class="w-full bg-gray grid place-content-center mt-40  lg:mt-20 mb:mt-20  sm:mt-20 ">
    <div class="container ">
      <img src="img/logo.png" class="h-80 max-w-lg mx-auto" alt="">
      <div class="flex justify-center">
        <input type="text" class="w-40 sm:w-80 lg:w-80 xl:w-80 rounded-full mx-2" placeholder="buscar">
        <button class="w-20  text-white rounded-full bg-orange-400 hover:bg-orange-500">Buscar</button>
      </div>
    </div>
  </header>

