<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--taildwind-->
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script prefer src="https://kit.fontawesome.com/4ef4000906.js" crossorigin="anonymous"></script>
  <title>{{tittle}}</title>
  <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
</head>

<body >
{{>navbar}}
{{{body}}}
{{>footer}}
<script src="/js/script.js"></script>

</body>
</html>